* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: whitesmoke;
}

.keyboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.first-row,
.second-row,
.third-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.key {
	border: 2px solid black;
	border-radius: 5px;
	padding: 1em;
	margin-right: 0.3em;
	margin-bottom: 0.5em;
}

kbd {
	font-size: 2em;
}

